.wrapper {
    display: box;
    display: -webkit-box;
    display: -moz-box;
    box-pack: center;
    -webkit-box-pack: center;
    -moz-box-pack: center;
}
#Editor, #Viewer {
    width: 50vw;
    height: 100vh;
    overflow: auto;
}
